<form autocomplete="off" class="{{cssClass}}">
  <header class="sheet-header">
    <img
      class="profile-img"
      data-edit="img"
      src="{{item.img}}"
      title="{{item.name}}"
    />
    <div class="header-fields">
      <h1 class="charname">
        <input
          name="name"
          placeholder="{{localize 'TLGCC.Name'}}"
          type="text"
          value="{{item.name}}"
        />
      </h1>
      <div class="grid grid-1col">
        <div class="resource">
          <label class="resource-label" for="system.formula.value"
          >{{localize 'TLGCC.Formula'}}</label
          >
          <input
            data-dtype="String"
            id="system.formula.value"
            name="system.formula.value"
            type="text"
            value="{{system.formula.value}}"
          />
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
    <div class="description">
      <div class="grid grid-2col">
        <div class="resource grid-span-2">
          <label class="resource-label" for="system.feature.value"
          >{{localize 'TLGCC.FeatureTitle'}}</label
          >
          <input
            data-dtype="String"
            id="system.feature.value"
            name="system.feature.value"
            type="text"
            value="{{system.feature.value}}"
          />
        </div>
      </div>
      <div class="description-header">
        <label class="resource-label">{{localize 'TLGCC.DescriptionTab'}}</label>
        {{#unless editingDescription}}
          {{#if editable}}
            <button
              type="button"
              class="editor-edit control-button unbutton"
              data-target="system.description"
              aria-label="{{localize 'TLGCC.DescriptionTab'}}"
            >
              <i class="fa-solid fa-pen-to-square" inert></i>
            </button>
          {{/if}}
        {{/unless}}
      </div>
      <div class="description-editor">
        {{#if editingDescription}}
          <prose-mirror
            name="{{editingDescription.target}}"
            value="{{editingDescription.value}}"
            document-uuid="{{item.uuid}}"
            class="sheet-description-prosemirror"
          ></prose-mirror>
        {{else}}
          <div class="editor">
            <div class="editor-content">{{{enriched.description}}}</div>
          </div>
        {{/if}}
      </div>
    </div>
  </section>
</form>
